body {
    background-color: lightgray;
    font-family: sans-serif;
}

h1 {
    color: aqua;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
    color: darkviolet;
}

div {
    border: red solid 2px;
    margin: 10px;
    padding: 10px;
}

a {
    color: chocolate;
    text-decoration: none;
}

footer {
    font-size: 5px;
}